<!DOCTYPE html>
<html>
  <head>
    <title>Inedible Thing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "style.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<style>
  .textnoir{
  color:black;
  }
</style>

  <body>
  <div>


    <div class="bg-light textnoir">
    <div class="container" >
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link textnoir">Inedible Things</a></li>
        <li class="nav-item"><a class="nav-link textnoir">Inedible Things</a></li>

      </ul>
    </header>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
