<!DOCTYPE html>
<html>
  <head>
    <title>Inedible Thing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "style.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<style>


@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');



  .textnoir{
  background-color:#E9E0D6;
  color:black;
  font-size:30px;
  font-family: 'Fuzzy Bubbles', cursive;

  }
</style>

  <body>
  <div>


    <div class="textnoir">
    <div class="container" >
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><img class="nav-link textnoir" href="https://cdn.discordapp.com/attachments/1081128062806147104/1081206687517642792/Capture_decran_2023-03-03_a_14.28.35.png">li>
        <li class="nav-item"><a class="nav-link textnoir">Inedible Things</a></li>
        <li class="nav-item"><img class="nav-link textnoir" href="https://cdn.discordapp.com/attachments/1081128062806147104/1081211326862463016/Capture_decran_2023-03-03_a_14.47.16.png"></li>

      </ul>
    </header>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
